pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.10.7.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.7.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.10.7-zen1/linux-v6.10.7-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.10.7-zen1/linux-v6.10.7-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 900d567ff01824708ce24c3b37faaef03e6f6145411dd447a6ff2edc8c5db3a9
	sha256sums = SKIP
	sha256sums = 1b8bcb1adacc07f7d31d159a908708212c9247c8fa9515e55c08390423622826
	sha256sums = SKIP
	sha256sums = dbee94b24beea3ada6a321933e02301521485503ed85b0209607b8c04f5d52d2
	b2sums = a177df46c43bef6a529e50af64103a40eabc9d7301f93c8e1a4ed3e6b0e03bec195838c6085f3df798b7d941c0943ba31b23b1717150785ef52cfa8bd2dc028d
	b2sums = SKIP
	b2sums = 5142bb7fc1d56eb0eea4b18ebfd5f5ee69cc2a94ffbe2bd96c2e7c848021b0c06635c6c528db62a463550a77728fe06e32f755054ca8d3b6bf1c0b6a1e0e977b
	b2sums = SKIP
	b2sums = d6769553909d221218829b430532a751bb9774791f4e7100c2d10d0fe62303c39ad4107d397ec08f4697c9e82774ac11513d89e6e57bbfcad9db9fcd88bebef9

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
