pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.12.4.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.4.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.4.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.12.4-zen1/linux-v6.12.4-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.12.4-zen1/linux-v6.12.4-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 6f35f821433d8421be7167990747c7c4a0c451958fb96883446301af13d71152
	sha256sums = SKIP
	sha256sums = 96be232052f3dfe298bb3b06c491019522b639e58fbb44c1cd553c80a5e5699a
	sha256sums = SKIP
	sha256sums = abd995bd4978356a422f7a8f9f2c07e2c523a93fca82af01b94633cb2a432b18
	b2sums = 5f0db13ed414b6221db1acb6019580e10533ecd1b596918230a6076ce433c75c154a3799bcdab48b1fbb2ff90e573f8cc879ae2d26677c560c6818fa37ce3c24
	b2sums = SKIP
	b2sums = 0f9ec8c758f5ee7c2f6fbfc733f23ae9ae9630b13045798c90440b2d40fdf7e595ff06bb88e376e8973b3d10340e982a87a9e1359bb710528090ffd434b2e1f3
	b2sums = SKIP
	b2sums = 03fff7e798ec3319a6853dffe8a97ed0582a63d7fcd2cc84eb630b66ea6bcbfb006661d34286c56382ebe3b7c43e9de6bffae91e99059abdd6d064b404aa99fc

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
