pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.6.9.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.9.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.9.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.6.9-zen1/linux-v6.6.9-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.6.9-zen1/linux-v6.6.9-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 8ebc65af0cfc891ba63dce0546583da728434db0f5f6a54d979f25ec47f548b3
	sha256sums = SKIP
	sha256sums = ae17eb1ea9822ce18f31f06110b2df9001f9818e64de3194ae5a121258708b30
	sha256sums = SKIP
	sha256sums = 51a51ccec610ee033009c9fdeb9bd2795cf209605e7c67da2855abc0951ed90f
	b2sums = c7deb1221716144b636018ee2936abe6397e15204c9bdb4cb5806f6bd303cd5d3f953a7da5865c4f211b866e4dfec4cd347c0a1a0a675f18b1a4ad197b099cec
	b2sums = SKIP
	b2sums = 6557ec34e0a5213ca57638f65ff865e9df10206daf223179222a1aea718eba021228dc56c7109f582a87ec7397db057739eaf4adbf9f911c61c6d6a967df385f
	b2sums = SKIP
	b2sums = ca1c5495d27fee6b54f5165ff2e3e30ffdc2a388f9404894fed7b38a3643e84edd550d9fceb1bae91595c289070a9d6b4fd53a24796ce2820f6c842d40a1ce2d

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
